header {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;
  color: $color-1;

  .mainHeader {
    @include center;
    flex-direction: column;
    margin: auto;
    animation: translateY 0.5s ease 0.3s forwards;
    transform: translateY(-80px);
    opacity: 0;

    @keyframes translateY {
      to {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    h1 {
      font-family: "font-1", sans-serif;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 7px;
      font-size: 4.5rem;
      max-width: 700px;

      @media screen and (max-width: 767px) {
        font-size: 1.5rem;
        max-width: 400px;
        width: 95%;
      }
    }

    p {
      font-family: "font-2", sans-serif;
      font-style: italic;
      text-align: center;
      font-size: 1.2rem;
      margin: 30px 0px;

      @media screen and (max-width: 767px) {
        font-size: 0.9rem;
        max-width: 400px;
        width: 95%;
      }
    }

    .mainHeaderButton {
      @include center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid $color-1;
      cursor: pointer;
      color: $color-1;

      i {
        transition: 0.2s ease-in-out;
      }

      &:hover i {
        transform: translateY(10px);
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    font-family: "font-1", sans-serif;
    background: $color-2;
    margin: 0 auto;
    width: 90%;
    height: 70px;
    letter-spacing: 1px;
    animation: hide 0.7s ease 0.6s forwards;
    transform: translateY(50px);
    opacity: 0;

    @keyframes hide {
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    ul {
      display: flex;
      cursor: pointer;
      height: 100%;

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      li {
        @include center;
        text-transform: uppercase;
        transition: 0.2s ease-in-out;
        text-align: center;

        @media screen and (max-width: 767px) {
          font-size: 0.6rem;
          width: 100%;
        }
      }
    }

    ul:first-child {
      li {
        padding: 0px 10px;
        font-size: 0.8rem;

        &:hover {
          background: $color-1;
          color: $color-3;
        }
      }

      li:first-child {
        background: $color-1;
        color: $color-3;
      }

      &:hover li:not(:hover) {
        background: none;
        color: $color-1;
      }
    }

    ul:last-child {
      width: 25%;

      @media screen and (max-width: 767px) {
        display: none;
      }

      li {
        font-size: 1.2rem;
        width: 100%;

        &:hover {
          font-size: 2rem;
        }

        a {
          @include center;
          color: $color-1;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
