* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: font-1;
  src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: font-2;
  src: url(../fonts/Merriweather-Light.ttf);
}

$color-1: #f3f3f3;
$color-2: #ffffff3d;
$color-3: #000;
$color-4: #fff;
$color-5: #00000027;
$color-6: #e9e9e9;
$color-7: #726b68;
$color-8: #356739;
$color-9: #939393;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: url(../img/bg.jpg) center/cover fixed;

  @media screen and (max-width: 1300px) {
    background-attachment: scroll;
  }
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
}

.fsButton {
  text-transform: uppercase;
  background: transparent;
  border: 2px solid $color-3;
  padding: 15px 40px;
  font-family: "font-1", sans-serif;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.2s ease-in-out;

  &:hover {
    border-color: $color-8;
    color: $color-1;
    background: $color-8;
  }
}
