* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: font-1;
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: font-2;
  src: url(../fonts/Merriweather-Light.ttf);
}
body {
  background: url(../img/bg.jpg) center/cover fixed;
}
@media screen and (max-width: 1300px) {
  body {
    background-attachment: scroll;
  }
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
}

.fsButton {
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #000;
  padding: 15px 40px;
  font-family: "font-1", sans-serif;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.2s ease-in-out;
  color: #000;
}
.fsButton:hover {
  border-color: #356739;
  color: #f3f3f3;
  background: #356739;
}

header {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;
  color: #f3f3f3;
}
header .mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
header .mainHeader h1 {
  font-family: "font-1", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 7px;
  font-size: 5rem;
  max-width: 800px;
}
@media screen and (max-width: 767px) {
  header .mainHeader h1 {
    font-size: 1.5rem;
    max-width: 400px;
    width: 95%;
  }
}
header .mainHeader p {
  font-family: "font-2", sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 1.3rem;
  margin: 30px 0px;
}
@media screen and (max-width: 767px) {
  header .mainHeader p {
    font-size: 0.9rem;
    max-width: 400px;
    width: 95%;
  }
}
header .mainHeader .mainHeaderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  cursor: pointer;
  color: #f3f3f3;
}
header .mainHeader .mainHeaderButton i {
  transition: 0.2s ease-in-out;
}
header .mainHeader .mainHeaderButton:hover i {
  transform: translateY(10px);
}
header nav {
  display: flex;
  justify-content: space-between;
  font-family: "font-1", sans-serif;
  background: rgba(255, 255, 255, 0.2392156863);
  margin: 0 auto;
  width: 80%;
  height: 70px;
  letter-spacing: 1px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  header nav ul {
    width: 100%;
  }
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0px 10px;
  font-size: 0.8rem;
  transition: 0.2s ease-in-out;
  text-align: center;
}
@media screen and (max-width: 767px) {
  header nav ul li {
    font-size: 0.6rem;
    width: 100%;
  }
}
header nav ul li:hover {
  background: #f3f3f3;
  color: #000;
}
header nav ul .permHover {
  background: #f3f3f3;
  color: #000;
}
header nav ul:last-child {
  justify-content: space-around;
  width: 25%;
}
@media screen and (max-width: 767px) {
  header nav ul:last-child {
    display: none;
  }
}
header nav ul:last-child li {
  font-size: 1.2rem;
  width: 100%;
  padding: 0;
}
header nav ul:last-child li:hover {
  font-size: 2rem;
  background: initial;
}
header nav ul:last-child li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  width: 100%;
  height: 100%;
}

section {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  font-family: "font-2", sans-serif;
}
section .firstArticleContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .firstArticleContent .firstArticleDate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  font-size: 1.1rem;
  position: relative;
  padding: 60px 0px;
}
@media screen and (max-width: 767px) {
  section .firstArticleContent .firstArticleDate {
    font-size: 0.9rem;
  }
}
section .firstArticleContent .firstArticleDate::before, section .firstArticleContent .firstArticleDate::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1529411765);
  top: 50%;
}
@media screen and (max-width: 767px) {
  section .firstArticleContent .firstArticleDate::before, section .firstArticleContent .firstArticleDate::after {
    width: 20%;
  }
}
section .firstArticleContent .firstArticleDate::before {
  left: 0;
}
section .firstArticleContent .firstArticleDate::after {
  right: 0;
}
section .firstArticleContent .firstArticleTitle {
  width: 80%;
  max-width: 500px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  section .firstArticleContent .firstArticleTitle {
    width: 70%;
    max-width: 250px;
  }
}
section .firstArticleContent .firstArticleTitle h2 {
  font-size: 3rem;
  font-family: "font-1", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  section .firstArticleContent .firstArticleTitle h2 {
    font-size: 1.5rem;
  }
}
section .firstArticleContent .firstArticleTitle p {
  font-size: 1rem;
  line-height: 40px;
  font-style: italic;
  padding: 30px 0px;
}
@media screen and (max-width: 767px) {
  section .firstArticleContent .firstArticleTitle p {
    font-size: 0.7rem;
    width: 70%;
    margin: 0 auto;
  }
}
section .firstArticleContent .firstArticleImg {
  background: url(../img/pic01.jpg) center/cover;
  width: 80%;
  height: 500px;
}
@media screen and (max-width: 767px) {
  section .firstArticleContent .firstArticleImg {
    height: 150px;
  }
}
section .firstArticleContent button {
  margin: 50px 0px 100px;
}
section .twoArticle {
  display: flex;
  font-family: "font-2", sans-serif;
  position: relative;
}
@media screen and (max-width: 767px) {
  section .twoArticle {
    flex-direction: column;
  }
}
section .twoArticle::before, section .twoArticle::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.1529411765);
}
section .twoArticle::before {
  width: 100%;
  height: 1px;
}
section .twoArticle::after {
  width: 1px;
  height: 100%;
  left: 50%;
}
@media screen and (max-width: 767px) {
  section .twoArticle::after {
    display: none;
  }
}
section .twoArticle article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
}
section .twoArticle article .twoArticleDate {
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  section .twoArticle article .twoArticleDate {
    font-size: 0.8rem;
  }
}
section .twoArticle article h2 {
  font-size: 1.5rem;
  max-width: 270px;
  text-align: center;
  font-family: "font-1", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 35px;
  padding: 30px 0px;
}
@media screen and (max-width: 767px) {
  section .twoArticle article h2 {
    font-size: 1.3rem;
    width: 80%;
    max-width: 240px;
  }
}
section .twoArticle article .twoArticleImg {
  width: 80%;
  height: 300px;
}
@media screen and (max-width: 767px) {
  section .twoArticle article .twoArticleImg {
    width: 70%;
    height: 150px;
  }
}
section .twoArticle article #img1 {
  background: url(../img/pic02.jpg) center/cover;
}
section .twoArticle article #img2 {
  background: url(../img/pic03.jpg) center/cover;
}
section .twoArticle article .twoArticleText {
  width: 80%;
  line-height: 35px;
  padding: 30px 0px;
}
@media screen and (max-width: 767px) {
  section .twoArticle article .twoArticleText {
    width: 70%;
    font-size: 0.7rem;
  }
}

footer {
  width: 80%;
  background: #e9e9e9;
  margin: 40px auto 80px;
  display: flex;
  color: #726b68;
  position: relative;
}
@media screen and (max-width: 767px) {
  footer {
    flex-direction: column;
  }
}
footer::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
  background: rgba(0, 0, 0, 0.1529411765);
}
@media screen and (max-width: 767px) {
  footer::after {
    display: none;
  }
}
footer h3,
footer label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "font-1", sans-serif;
  padding: 20px 0px;
  font-size: 0.8rem;
}
footer .footerLeft,
footer .footerRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}
@media screen and (max-width: 767px) {
  footer .footerLeft,
  footer .footerRight {
    width: 100%;
  }
}
footer .footerLeft form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px 30px;
}
footer .footerLeft form input {
  height: 50px;
  background: #e9e9e9;
  border: 1px solid rgba(0, 0, 0, 0.1529411765);
  border-radius: 5px;
}
footer .footerLeft form input#message {
  height: 200px;
}
footer .footerLeft #sendButton {
  color: #726b68;
  max-width: 220px;
  margin: 0px 30px 50px;
}
@media screen and (max-width: 767px) {
  footer .footerLeft #sendButton {
    max-width: 180px;
    padding: 15px 20px;
  }
  footer .footerLeft #sendButton::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1529411765);
  }
}
footer .footerLeft #sendButton:hover {
  border-color: #939393;
  color: #f3f3f3;
  background: #939393;
  border-radius: 15px;
}
footer .footerRight div {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
footer .footerRight div h3 {
  width: 20%;
  margin: 30px;
}
footer .footerRight div p {
  max-width: 250px;
}
@media screen and (max-width: 767px) {
  footer .footerRight div p {
    font-size: 0.8rem;
  }
}
footer .footerRight div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1529411765);
  margin-right: 2%;
  font-size: 0.9rem;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 767px) {
  footer .footerRight div a {
    font-size: 0.8rem;
    margin-right: 1%;
  }
}
footer .footerRight div a:hover {
  border-color: rgba(0, 0, 0, 0.1529411765);
  background: rgba(0, 0, 0, 0.1529411765);
}
footer .footerRight div:nth-child(1)::after, footer .footerRight div:nth-child(2)::after, footer .footerRight div:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1529411765);
}/*# sourceMappingURL=index.css.map */