* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: font-1;
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: font-2;
  src: url(../fonts/Merriweather-Light.ttf);
}
body {
  background: url(../img/bg.jpg) center/cover fixed;
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
}

.fsButton {
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #000;
  padding: 15px 40px;
  font-family: "font-1", sans-serif;
}

header {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;
  color: #f3f3f3;
}
header .mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
header .mainHeader h1 {
  font-family: "font-1", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 7px;
  font-size: 5rem;
  max-width: 800px;
}
header .mainHeader p {
  font-family: "font-2", sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 1.3rem;
  margin: 30px 0px;
}
header .mainHeader .mainHeaderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  cursor: pointer;
}
header nav {
  display: flex;
  justify-content: space-between;
  font-family: "font-1", sans-serif;
  background: rgba(255, 255, 255, 0.2392156863);
  margin: 0 auto;
  width: 80%;
  height: 70px;
  letter-spacing: 1px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0px 10px;
  font-size: 0.8rem;
  transition: 0.2s ease-in-out;
}
header nav ul li:hover {
  background: #f3f3f3;
  color: #000;
}
header nav ul .permHover {
  background: #f3f3f3;
  color: #000;
}
header nav ul:last-child {
  justify-content: space-around;
  width: 30%;
}
header nav ul:last-child li {
  font-size: 1.2rem;
  width: 100%;
  padding: 0;
}
header nav ul:last-child li:hover {
  font-size: 2rem;
  background: initial;
}
header nav ul:last-child li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  width: 100%;
  height: 100%;
}

section {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  font-family: "font-2", sans-serif;
}
section .firstArticleContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .firstArticleContent .firstArticleDate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  font-size: 1.1rem;
  position: relative;
  padding: 60px 0px;
}
section .firstArticleContent .firstArticleDate::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1529411765);
  left: 0;
  top: 50%;
}
section .firstArticleContent .firstArticleDate::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1529411765);
  right: 0;
  top: 50%;
}
section .firstArticleContent .firstArticleTitle {
  width: 80%;
  max-width: 500px;
  text-align: center;
}
section .firstArticleContent .firstArticleTitle h2 {
  font-size: 3rem;
  font-family: "font-1", sans-serif;
  text-transform: uppercase;
}
section .firstArticleContent .firstArticleTitle p {
  font-size: 0.9rem;
  line-height: 40px;
  font-style: italic;
  padding: 30px 0px;
}
section .firstArticleContent .firstArticleImg {
  background: url(../img/pic01.jpg) center/cover;
  width: 80%;
  height: 500px;
}
section .firstArticleContent button {
  margin: 30px 0px;
}/*# sourceMappingURL=index.css.map */